<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header') %>
    <title>Pin view</title>
  </head>
  <body class="font-raleway">
    <%- include('../partials/nav') %>
    <button
      class="absolute rounded-full w-10 h-10 shadow-xl hover:shadow-inner flex justify-center items-center top-[100px] left-[40px]"
    >
      <a href="javascript:history.back()"
        ><span class="material-symbols-outlined"> arrow_back </span></a
      >
    </button>
    <div id="pin" class="py-8 w-full flex items-center justify-center">
      <div class="rounded-3xl w-[50%] overflow-hidden flex gap-4 shadow-lg">
        <div class="w-1/2 overflow-hidden">
          <img
            id="pin-image"
            src="<%= pin.image %>"
            alt=""
            class="w-full h-auto object-cover"
          />
        </div>
        <div id="content-div" class="w-1/2 py-7 flex flex-col">
          <!-- different buttons -->
          <div class="w-full px-7 flex justify-between top-0 sticky z-[2] pb-2">
            <div class="flex flex-row gap-3 items-center">
              <span class="material-symbols-outlined"> ios_share </span>
              <% if (profile._id.toString() == author._id.toString()) { %>
              <span
                id="delete-pin"
                class="material-symbols-outlined cursor-pointer"
              >
                delete
              </span>
              <% } %>
              
            </div>
            <!-- show this when pin is saved -->
            <div id="saved-div" class="hidden flex flex-row items-center gap-2">
              <p id="saved-title"></p>
              <button
                id="unsave-btn"
                class="border-none bg-secondary px-4 py-3 rounded-2xl text-white"
              >
                Saved
              </button>
            </div>

            <!-- show this when pin in not saved -->
            <div id="unsaved-div" class="flex flex-row items-center gap-2">
              <div id="" class="">
                <button id="board-search" class="flex flex-row justify-center">
                  Profile
                  <span class="material-symbols-outlined"> expand_more </span>
                </button>
              </div>
              <button
                id="save-btn"
                class="border-none bg-secondary px-4 py-3 rounded-2xl text-white"
              >
                save
              </button>
            </div>
          </div>

          <div class="flex flex-col grow overflow-auto">
            <!-- pin details -->
            <div class="w-full px-7 mt-4">
              <h2 class="text-xl font-semibold"><%= pin.title %></h2>
              <p class="mt-2"><%= pin.description %></p>
              <div class="">
                <% pin.tags.forEach(tag => { %>
                <p class="text-sm text-blue-600 font-semibold w-full inline">
                  #<%= tag %>
                </p>
                <% }) %>
              </div>
              <div class="w- my-4"><%- include('./profileStat') %></div>
            </div>

            <!-- comment section -->
            <%- include('./comments') %>
          </div>

          <!-- add comment -->
          <div class="px-7 py-4 w-full sticky bottom-0 z-[1]">
            <form action="">
              <div class="flex justify-between py-4">
                <h4 class="text-xl font-semibold">What do you think?</h4>
                <div class="flex flex-row gap-3">
                  <!-- likes with count -->
                  <div class="flex flex-row gap-1">
                    <span id="like-button">
                      <i class="fa-regular fa-heart"></i>
                    </span>
                    <span id="unlike-button" class="hidden">
                      <i class="fa-solid fa-heart" style="color: #e2031a"></i>
                    </span>
                    <p id="likeCount"></p>
                  </div>
                </div>
              </div>
              <div class="flex flex-row w-full gap-3">
                <div
                  class="w-14 h-14 rounded-full overflow-hidden border-1 border-black"
                >
                  <img
                    src="<%= profile.profilePic %>"
                    alt="profile pic"
                    class="w-full h-full object-cover"
                  />
                </div>
                <div class="flex flex-grow">
                  <input
                    type="text"
                    name="comment"
                    id="comment"
                    class="w-full border-slate-500 rounded-2xl"
                    placeholder="Add a comment"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div
      id="search-board-bg"
      class="absolute hidden w-screen h-screen top-0"
    ></div>
    <div
      id="search-board"
      class="absolute hidden pt-8 rounded-lg shadow-xl bg-white z-10 overflow-hidden"
    >
      <input
        type="text"
        name="search-bar"
        id="search-bar"
        class="w-72 mx-3 rounded-xl py-4"
        placeholder="search"
        onkeyup="search()"
      />
      <div class="mt-2">
        <ul id="search-list" class="">
          <div class="max-h-56 overflow-auto">
            <% profile.boards.forEach(board => { %>
            <li
              class="w-full px-4 py-4 hover:bg-slate-300 flex justify-between"
              onclick="savePin('<%= board._id %>', '<%= pin._id %>')"
            >
              <%= board.title %> <% if (board.private) { %>
              <span class="material-symbols-outlined"> lock </span>
              <% } %>
            </li>
            <% }) %>
          </div>
        </ul>
        <div
          id="always-displayed"
          class="mt-1 w-full px-4 py-4 hover:bg-slate-300"
        >
          <p>Create Board</p>
        </div>
      </div>
    </div>

    <%- include('../board/createBoardModel') %>

    <script>
      const profileUsername = "<%- profile.username %>";
      const profilePic = "<%- profile.profilePic %>";
      const pinId = "<%- pin._id %>";
      const pinURL = "<%- pin.image %>";
    </script>
    <script src="/js/viewPin.js"></script>
  </body>
</html>
