<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header') %>
    <title>Profile Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="w-full mt-9 mb-8 font-raleway">
        <!-- user details -->
        <div class="w-lvw flex flex-col items-center">
            <div class="w-40 h-40 rounded-full overflow-hidden border-2">
                <img id="profile-display" src="<%= profile.profilePic %>" alt="profile pic" class="w-full h-full object-cover">
            </div>
            <h3 class="mt-2 text-2xl font-bold"><%= profile.fullname %></h3>
            <p class="mt-2 text-sm">@<%= profile.username %></p>

            <div class="mt-4 flex flex-row gap-6">
                <button id="create-btn" class="nav z-0">Create</button>
                <button id="save-btn" class="nav z-0">Save</button>
            </div>
            <!-- <a href="/profile/edit">
                <button class="mt-10 bg-slate-300 p-3 rounded-lg font-semibold">Edit profile</button>
            </a> -->
        </div>
        <!-- <hr class=" mt-2 opacity-85 w-[100vw]"> -->


        <div id="save-div" class="">
            <!-- user boards -->
            <div class="mt-5 px-4">
                <div class="flex flex-row items-center gap-3">
                    <p class="text-2xl font-semibold">Boards</p>
                    <button class="w-8 h-8 p-3 shadow hover:bg-gray-300 hover:shadow-md rounded-full border-2 flex justify-center items-center" id="create-plus">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </button>
                    <div class="border w-full mx-2 h-0"></div>
                </div>
            </div>
    
    
            <!-- create board modal -->
            <div id="board-modal" class="hidden absolute w-full h-screen top-0 flex justify-center items-center bg-slate-500 bg-opacity-35 z-[2]">
                <div class="bg-white rounded-lg px-4 py-8">
                    <p class="w-full text-2xl font-bold text-center">Create Board</p>
                    <form id="board-create" class="flex flex-col">
                        <!-- <label for="name">name</label> -->
                        <input type="text" name="name" id="name" class="rounded-lg  py-3" placeholder="Enter board Name"> 
                        <p id="board-error" class="text-sm px-2 mt-2 text-red-400"></p>
    
                        <div class="mt-2 flex flex-row items-center gap-2">
                            <input type="checkbox" name="secret" id="secret" value="yes" class="rounded-full">
                            <label for="secret">Keep this Board Secret</label>
                        </div>
                        <div class="flex justify-between px-2 mt-5">
                            <button id="hide-create-board-modal" class="bg-slate-300 p-3 rounded-xl hover:bg-slate-400">Cancel</button>
                            <button class="border-none bg-secondary px-4 py-3 rounded-2xl text-white font-semibold" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
    
            <!-- saved boards -->
    
            <div class="mt-5 w-full flex px-8 gap-6">
                <% profile.boards.forEach(board => { %>
                    <% if (board.pins.length > 0) { %>
                        <a href="/board/<%= board._id %>">
                            <div class="flex flex-col items-center">
                                <div class="rounded-lg overflow-hidden">
                                    <div class="w-36 h-36 overflow-hidden">
                                        <img src="<%= board.pins[0].image%>" alt="w-full h-full object-cover" >
                                    </div>
                                </div>
                                <div class="flex flex-row mt-1 gap-2">
                                    <p><%= board.title %></p>
                                    <% if (board.private) { %>
                                        <span class="material-symbols-outlined">lock</span>
                                    <% } %>
                                </div>
                            </div>
                        </a>
                    <% } %>
                <% }) %>
            </div>
    
            <!-- saved pins -->
    
            <div class="mt-5 px-4">
                <div class="flex flex-row items-center gap-2">
                    <p class="text-2xl font-semibold whitespace-normal max-w-none">Saved Pins </p>
                    <div class="border w-full mx-2 h-0"></div>
                </div>
            </div>
    
            <div class="w-full justify-center flex flex-wrap gap-5">
                <div class="p-5 sm:p-8">
                    <div class="columns-1 gap-2 sm:columns-2 sm:gap-4 md:columns-4 lg:columns-7 [&>div:not(:first-child)]:mt-4">
                        <% profile.quickSave.forEach(pin => { %>
                            <div class="h-auto rounded-3xl overflow-hidden">
                                <!-- <div class="w-full h-full z-10 opacity-30"></div> -->
                                <a href="/pin/<%= pin._id %>"><img src="<%= pin.image %>" class=" w-full h-full object-cover" alt="pin"></a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

        <div id="create-div" class="hidden">
            <div class="mt-5 px-4">
                <div class="flex flex-row items-center gap-2">
                    <p class="text-2xl font-semibold whitespace-normal max-w-none">Created Pins </p>
                    <div class="border w-full mx-2 h-0"></div>
                </div>
            </div>
            <div class="w-full justify-center flex flex-wrap gap-5">
                <div class="p-5 sm:p-8">
                    <div class="columns-1 gap-2 sm:columns-2 sm:gap-4 md:columns-4 lg:columns-7 [&>div:not(:first-child)]:mt-4">
                        <% profile.pins.forEach(pin => { %>
                            <div class="h-auto rounded-3xl overflow-hidden">
                                <!-- <div class="w-full h-full z-10 opacity-30"></div> -->
                                <a href="/pin/<%= pin._id %>"><img src="<%= pin.image %>" class=" w-full h-full object-cover" alt="pin"></a>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/profile.js"></script>

    <script>
        const createPlus = document.getElementById('create-plus');
        const boardModal = document.getElementById('board-modal');
        const hideCreateBoardModel = document.getElementById('hide-create-board-modal');

        createPlus.addEventListener('click', (req, res) => {
            boardModal.classList.remove('hidden');
        })

        hideCreateBoardModel.addEventListener('click', () => {
            boardModal.classList.add('hidden');
        })
    </script>
</body>
</html>