<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/css/output.css">
    <title>Profile Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="w-full mt-[80px] mb-8">
        <!-- user details -->
        <div class="w-lvw flex flex-col items-center">
            <div class="w-40 h-40 rounded-full overflow-hidden border-2">
                <img id="profile-display" src="/images/uploads/<%= profile.profilePic %>" alt="profile pic" class="w-full h-full object-cover">
            </div>
            <h3 class="mt-2 text-2xl"><%= profile.fullname %></h3>
            <p class="mt-2 text-sm">@<%= user.name %></p>

            <a href="/profile/edit">
                <button class="mt-10 bg-slate-300 p-3 rounded-lg font-semibold">Edit profile</button>
            </a>
        </div>
        <!-- <hr class=" mt-2 opacity-85 w-[100vw]"> -->
        <!-- user boards -->

        <div class="">
            <div class="w-full flex justify-end">
                <button class="w-10 h-10 p-3 bg-slate-400 hover:bg-slate-500 rounded-full border-2 flex justify-center items-center" id="create-plus">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </button>
            </div>
        </div>


        <!-- create board modal -->
        <div id="board-modal" class="hidden absolute w-full h-screen top-0 flex justify-center items-center bg-slate-500 bg-opacity-35">
            <div class="bg-white rounded-lg px-4 py-8">
                <p class="w-full text-2xl font-bold text-center">Create Board</p>
                <form action="/board/create" method="post" class="flex flex-col">
                    <label for="name">name</label>
                    <input type="text" name="name" class="rounded-lg  py-3" placeholder="Enter board Name"> 

                    <div class="mt-2 flex flex-row items-center gap-2">
                        <input type="checkbox" name="secret" id="secret" value="yes" class="rounded-full">
                        <label for="secret">Keep this Board Secret</label>
                    </div>
                    <div class="flex justify-between px-2 mt-5">
                        <button id="hide-create-board-modal" class="bg-slate-300 p-3 rounded-xl hover:bg-slate-400">Cancel</button>
                        <button class="border-none bg-red-600 px-4 py-3 rounded-2xl text-white font-semibold" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- saved boards -->

        <div class="w-full flex px-8 gap-6">
            <% profile.boards.forEach(board => { %>
                <% if (board.pins.length > 0) { %>
                    <a href="/board/<%= board._id %>">
                        <div class="flex flex-col items-center">
                            <div class="rounded-lg overflow-hidden">
                                <div class="w-36 h-36 overflow-hidden">
                                    <img src="/images/uploads/<%= board.pins[0].image%>" alt="w-full h-full object-cover" >
                                </div>
                            </div>
                            <p><%= board.title %></p>
                        </div>
                    </a>
                <% } %>
            <% }) %>
        </div>

        <!-- saved pins -->
        <div class="w-full justify-center flex flex-wrap gap-5 my-3">
            <div class="p-5 sm:p-8">
                <div class="columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-4 lg:columns-5 [&>div:not(:first-child)]:mt-8">
                    <% profile.pins.forEach(pin => { %>
                        <div class="h-auto rounded-3xl overflow-hidden">
                            <!-- <div class="w-full h-full z-10 opacity-30"></div> -->
                            <a href="/pin/<%= pin._id %>"><img src="/images/uploads/<%= pin.image %>" class=" w-full h-full object-cover" alt="pin"></a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>


    <script>
        const createPlus = document.getElementById('create-plus');
        const boardModal = document.getElementById('board-modal');
        const hideCreateBoardModel = document.getElementById('hide-create-board-modal');

        createPlus.addEventListener('click', (req, res) => {
            boardModal.classList.remove('hidden');
        })

        // boardModal.addEventListener('click', (req, res) => {
        //     boardModal.classList.add('hidden');
        // })

        hideCreateBoardModel.addEventListener('click', () => {
            boardModal.classList.add('hidden');
        })
    </script>
</body>
</html>